body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,hr,input,td,select,textarea{
	margin:0;
	padding: 0;
}
a {
	text-decoration: none;
	color:black;
}
li {
	list-style: none;
}

body{
	background-color: #fff;
	width: 100%;
	/* overflow-x: hidden; */
}

/* 头部 */
.vh_header{
	width: 100%;
	background-color: #fff;
	box-sizing: border-box;
	position: relative;
	margin: 0 auto;
	z-index: 1000;            
} 

.vh_header_top{
	height: 100px;
	width: 1263px;
	margin: 0 auto;
	box-sizing: border-box;
	border-bottom: 1px solid #d9d9d9;
	font-size: 14px;
	
}
.vh_header_top a{
	color: #666;
}


.vh_header_top .header_left{
	float: left;
	height: 40px;
	width: 168px;
	line-height: 40px;
	margin-left: 60px;
	margin-top: 30px;
}
.fenge_line{
	display: inline-block;
	color: #b2b2b2;
	font-size: 20px;
	font-weight: 100;
    margin: 0px 18px;
}
.vh_header_top .header_center{
	float: left;
	width: 200px;
	height: 67px;
	margin: 16px 140px 0 300px;
}
.header_center img{
	width: 100%;
	height: 100%;
	
}
.vh_header_top .header_right{
	float: left;
	height: 40px;
	line-height: 40px;
	margin-top: 30px;

}
.header_right span{
	float: left;
}
.header_right img{
	margin-right: 10px;
	margin-top: 13px;
	float: left;
}

/* 底部黑色导航栏 */
.vh_header_active {
	width: 1263px;
	height: 42px;
	/* background-color: #222; */
	background-color: rgba(0,0,0,0.8);
	margin: 0 auto;
	
}


.vh_header_fixed {
	padding: 10px 0;
	position: fixed;
	left: 50%; 
	top: 0;
	margin-left: -632px;
	z-index: 10;
	background-color: #000e22;
	opacity: 1;

}
.vh_logo{
	height: 30px;
    width: 30px;
    position: absolute;
    left: 30px;
    top: 14px;
    display: none;
}
.vh_logo img{
	height: 30px;
	width: 30px;
}
.vh_nav{
	width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.vh_nav .nav_list{
	float: left;
	padding: 0px 20px;
	height: 42px;
	line-height: 42px;
}


.nav_list a{
	font-size: 14px;
	color: #fff;
}
.vh_nav .nav_search {
	height: 40px;
	width: 150px;
	background-color: #d9d9d9;
	float: right;
	margin-top: 1px;
	color: #fff;
	position: relative;
	margin-left: 50px;
}
.nav_search input{
	height: 40px;
	width: 140px;
	background-color: #d9d9d9;
	color: #fff;
	padding-left: 10px;
	font-size: 14px;
	border: none;
	background: url(../img/search.png) no-repeat 115px 12px;
	background-size: 16px;
}
.vh_header_active .vh_user{
	position: absolute;
	display: none;
    right: 30px;
	top: 18px;
    height: 40px;
    line-height: 40px;
}
.vh_user img{
	margin-right: 10px; 
}      
	
/* 划过显示的导航列表 */
.nav_contain{
   width: 1263px;
   background-color: #fff;
   padding: 30px;
   border-bottom: 1px solid #ccc;
   display: none;
   box-sizing: border-box;
   position: absolute;
   
}
.nav_clos:first-child{
	margin-left: 242px;
}
.nav_contain .nav_clos{
	float: left;
	width: 135px;
	/* line-height: 30px; */
	margin-right: 50px;
} 
.nav_contain ul li{
	line-height: 27px;
}
.nav_contain .nav_clos .nav_t{
	font-size: 14px;
    color: #1a1a1a;
	
}
.nav_contain .nav_t{
	font-size: 14px;    
	line-height: 30px;
}
.nav_contain .nav_clos li a{
	color: #808080;
	font-size: 14px; 
}

/* 隐藏导航栏划过效果 */
.nav_clos a:hover{
	text-decoration: underline;
}
.nav_contain .nav_pic{
	float: left;
	width: 150px;
	height: 150px;
}
.nav_contain .nav_pic img{
	width: 100%;
	height: 100%;
}

/* 底部 */
.vh_footer{
	background-color: #000e22;
	width: 1263px;
	margin: 0 auto;
	color: #fff;
}
.vh_footer .footer_li ul{
	display: flex;
	align-items: center;
	height: 120px;
	border-bottom: 1px solid #ccc;
}
.vh_footer .footer_li{
	width: 100%;
	height: 120px;
	
	margin-top: 20px;
}
.vh_footer .footer_li li{
	width: 25%;
	height: 60px;
	line-height: 60px;
	border-right: 1px solid #ccc;
	box-sizing: border-box;
	margin-left: 5%; 
}
.vh_footer .footer_li li:last-child{
	border-right: none;

}
.vh_footer .footer_li img{
	width: 30px;
	height: 30px;
	line-height: 30px;
	/* margin-top: 15px; */
	margin-right: 8px;
	vertical-align: middle;
}
.vh_footer .footer_li span{
	font-size: 16px;
    color: #34394a;
	line-height: 60px;
	vertical-align: middle;
	
}
.vh_footer .footer_2{
	width: 1163px;
	height: 370px;
    padding: 50px;
	border-bottom: 1px solid #ccc;
	
}
.footer_2 .footer_left{
	width: 60%;
	float: left;
	height: 100%;
	border-right: 1px solid #ccc;
	box-sizing: border-box;
}
	    
.footer_2 .footer_left .footer_left_nav	{
	width: 24%;
	float: left;
}
.footer_nav_title{
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	color: #fff;
	font-weight: 700;
	
}
.footer_left_nav li {
	height: 30px;
	line-height: 30px;
}
.footer_left_nav li a{
	color: #8f949a;
	font-size: 14px;
}
.footer_left_list {
	margin-top: 30px;
} 
/* 第一部分右边 */
.footer_right_nav{
    float: left;
    width: 76%;
	
}
.footer_right_section{
	width: 33.33%;
	float: left;
	min-height: 155px;
}
.footer_right_section li {
	height: 30px;
	line-height: 30px;
}
.footer_right_section li a{
	color: #8f949a;
	font-size: 14px;
}
/* 底部所有A划过效果 */
.footer_left a:hover{
	color: #fff;
}
/* footer-右边 */
.footer_right{
	width: 40%;
	float: left;
	padding: 0px 100px;
	box-sizing: border-box;
} 
.footer_right .vh_link{	
	width: 70%;
}
.footer_right .vh_link .vh_link_title{
	font-size: 14px;
	font-weight: 600;
	line-height: 40px;
	color: #fff; 
}
.vh_link_wechat , .vh_link_weibo{
	float: left;
	width: 78px;
	height: 40px;
	margin-bottom: 10px;
	color: #8f949a;
	cursor: pointer;
}
   
.vh_link .link_name{
	float: right;
	width: 40px;
	text-align: left;
	line-height: 28px;
	font-size: 12px;
}
.vh_vip{
	width: 100px;
	float: right;
	margin-top: -40px;
	text-align: center;    
}
.vh_vip .vh_vip_title{
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #fff;
}
.vh_dingyue{
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #fff;
}
.vh_p{
	line-height: 40px;
	color: #8f949a;
	font-size: 16px;
}
.vh_dingyue_email{
	height: 30px;
}
.vh_dingyue_email .dingyue_txt{
	width: 50%;
	height: 30px;
	line-height: 30px;
	float: left;
	padding-left: 10px;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.dingyue_btn{
	width: 100px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	float: left;
	background-color: #2d3b4d;
	color: #fff;
	cursor: pointer;
}
.footer_3{
	width: 1263px;
	height: 60px;
    text-align: center;
    line-height: 60px;
    background-color: #000e22;
    color: #fff;
	
}
.footer_3 .footer_copyright{
	color: #fff;
	font-size: 14px;
}

/* 在线咨询 */
.online{
	width: 110px;
	height:34px;
	background-color: #5a5a5a;
	border-radius: 5px;
	line-height: 35px;
	position: fixed;
	right: 3px;
	bottom: 3px;
	cursor: pointer;
}
.online img{
	height: 30px;
	margin-left: 6px;
	/* vertical-align: middle; */
	float: left;
	margin-top: 3px;
}
.online span{
	color: #fff;
	font-size: 14px;
	float: left;
	/* vertical-align: middle; */
	margin-left: 8px;

}

   